bin
*.o
*.so
config.log
config.status
IServerd.spec
Makefile
config.status

data/Makefile
script/Makefile
IServerd.spec
script/iserver_icquser
script/iserver_db_manage.sh
include/defaults.h
script/iserverd.sh
script/iserverd.sh.asp
script/iserver_post_mess.cgi
man/Makefile
script/iserver_convert_db.sh
data/etc/iserv.conf.default
data/etc/v3_proto.conf.default
data/etc/v5_proto.conf.default
data/etc/v7_proto.conf.default
data/etc/actions.conf.default
include/config.h
